# Example usage for "movekit"

In [1]:
import movekit as mkit

### Read in CSV file

In [2]:
# Enter path to CSV file
path = "./datasets/fish-5.csv"

In [3]:
# Read in CSV file using appropriate method-
data = mkit.read_data(path)
data.head()

   time  animal_id       x       y
0     1        312  405.29  417.76
1     1        511  369.99  428.78
2     1        607  390.33  405.89
3     1        811  445.15  411.94
4     1        905  366.06  451.76

#### Preprocess the data

In [4]:
preprocessed_data = mkit.preprocess(data)

 Number of missing values = y            0
x            0
animal_id    0
time         0
dtype: int64

#### Extract features

In [7]:
data_features = mkit.extract_features(preprocessed_data, fps = 10)
data_features.head(20)

,time,animal_id,x,y,distance,average_speed,average_acceleration,direction,stopped
0,1,312,405.29,417.76,0.000000,0.000000,0.000000,0.000000,0
1,2,312,405.31,417.37,0.390512,0.000000,0.000000,-87.064327,0
2,3,312,405.31,417.07,0.300000,0.000000,0.000000,-90.000000,0
3,4,312,405.30,416.86,0.210238,0.000000,0.000000,-92.726311,0
4,5,312,405.29,416.71,0.150333,0.000000,0.000000,-93.814075,0
5,6,312,405.27,416.61,0.101980,0.000000,0.000000,-101.309932,0
6,7,312,405.27,416.54,0.070000,0.000000,0.000000,-90.000000,0
7,8,312,405.27,416.49,0.050000,0.000000,0.000000,-90.000000,0
8,9,312,405.31,416.37,0.126491,0.000000,0.000000,-71.565051,0
9,10,312,405.38,416.27,0.122066,0.152162,0.000000,-55.007980,1
10,11,312,405.46,416.13,0.161245,0.168287,0.001612,-60.255119,1
11,12,312,405.54,415.93,0.215407,0.150776,-0.001751,-68.198591,1
12,13,312,405.63,415.84,0.127279,0.133504,-0.001727,-45.000000,1
13,14,312,405.68,415.72,0.130000,0.125480,-0.000802,-67.380135,1
14,15,312,405.75,415.51,0.221359,0.132583,0.000710,-71.565051,1
15,16,312,405.84,415.35,0.183576,0.140742,0.000816,-60.642246,1
16,17,312,405.93,415.18,0.192354,0.152978,0.001224,-62.102729,1
17,18,312,406.02,415.02,0.183576,0.166335,0.001336,-60.642246,1
18,19,312,406.09,414.90,0.138924,0.167579,0.000124,-59.743563,1
19,20,312,406.09,414.74,0.160000,0.171372,0.000379,-90.000000,1

### Save to CSV

In [6]:
# save features to csv 
data_features.to_csv("fish-5-features.csv")